<div class="masthead">
  <h3 class="muted">SponsorPay API</h3>
</div>

<hr>

<div class="headerForm">
	<img id="preLoader" src="/loader.gif"/>
	<div data-bind="template: {name: 'searchForm'}"/>
</div>

<hr>

<div class="row-fluid resultsGrid">
		<div data-bind="template: {name: 'resultsGrid'}"/>
</div>

<hr>

<div class="footer">
  <p>For sponsorpay by codemanki.</p>
</div>