<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SponsorPay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      /* Supporting marketing content */
      .resultsGrid {
        margin: 60px 0;
      }
	  .resultsGrid {
		margin: 0;
		}
    </style>
    <link href="/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <div class="container-narrow contentContainer">
		<%= yield %>
    </div> 


    <script src="/vendor/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/ko.js"></script>
	<script src="/main.js"></script>
	<script src="/app.js"></script>
	<script src="/viewmodel.js"></script>
	<script src="/proxy.js"></script>
	
	<%= erb :templates %>
  </body>
</html>
