<script type="text/html" id="searchForm">
<form class="form-horizontal">
	
	<h4>Request to SponsorPay API</h4>
	<div class="control-group" data-bind="css: {error: searchParams.uid.isInvalid}">
		<label class="control-label" for="uidTextBox">UID (user Id)</label>
		<div class="controls">
			<input type="text" id="uidTextBox" data-bind="value: searchParams.uid.val"/>
			<span class="help-inline" data-bind="visible: searchParams.uid.isInvalid">Please fill in this field</span>
		</div>
	</div>
	
	
	<div class="control-group" data-bind="css: {error: searchParams.pub0.isInvalid}">
		<label class="control-label" for="pub0TextBox">PUB0 (custom param)</label>
		<div class="controls">
			<input type="text" id="pub0TextBox" data-bind="value: searchParams.pub0.val">
			<span class="help-inline" data-bind="visible: searchParams.pub0.isInvalid">Please fill in this field</span>
		</div>
	</div>
	
	
	<div class="control-group" data-bind="css: {error: searchParams.page.isInvalid}">
		<label class="control-label" for="pageTextBox">Page</label>
		<div class="controls">
			<input type="text" id="pageTextBox" data-bind="value: searchParams.page.val">
			<span class="help-inline" data-bind="visible: searchParams.page.isInvalid">Please fill in this field</span>
		</div>
		
	</div>
	
	<div class="control-group">
		<div class="controls">
			<div>
				<button class="btn btn-primary" data-bind="click: submitSearch">Search</button>
				<button class="btn btn-info" data-bind="click: demoData">Demo params</button>
				<button class="btn btn-warning" data-bind="click: clearData">Clear form</button>
			</div>			
		</div>
	</div>
</form>
<img src="/loader.gif" data-bind="visible: isLoading"/>
</script>

<script type="text/html" id="resultsGrid">
	<h4 data-bind="visible: error, text: errorMessage"></h4>
<!-- ko if:searchPerformed -->
	<h4>Results</h4>
	<h5 data-bind="if: offers().length == 0">Sorry, no offers</h5>
	<!-- ko if: offers().length > 0 -->
		<div data-bind="template: {name: 'offersList'}"></div>
	<!-- /ko -->
<!-- /ko -->
</script>

<script type="text/html" id="offersList">
<div data-bind="template: {name: 'paginator'}"/>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Offer title</th>
			<th>Offer payout</th>
			<th>Offer thumbnail</th>
		</tr>
	</thead>
	
	<tbody data-bind="foreach: offers()">
		<tr>
			<td data-bind="text: title"></td>
			<td data-bind="text: payout"></td>
			<td><img src="" class="img-polaroid" data-bind="if: thumbnail, attr: {src: thumbnail}"></td>
		<tr>
	</tbody>
	
</table>
<div data-bind="template: {name: 'paginator'}"/>
</script>

<script type="text/html" id="paginator">

<div class="pagination pagination-centered">
	<ul>
		<li class="disabled"><a href="#">«</a></li>
		<!-- ko foreach: totalPages -->
			<li data-bind="css: {active: $data == $parent.currentPage()}"><a href="#" data-bind="text: $data, click: $parent.getPage"/></li>
		<!-- /ko -->
		<li class="disabled"><a href="#">»</a></li>
	</ul>
</div>
</script>